.img {
    width: 45px;
    margin-top: -10px;
    margin-left: 40px;
}
.card {
    border-radius: 8px;
    padding: 10px;
    background-color: #e8e7e3;
    
}
.card-header {
    margin-bottom: 5px;
}
.card-img-top{
    width:45px;
    float: left;
    margin: 0 5px 0 0;
}
.card-header textarea{
    border-radius: 15px;
    width: 80%;
}

.panel-image{
  width:26px;
    float: left;
    margin: 0 5px 0 0;
}


.navbar-toggle .icon-bar {
  width: 100%;
  float: left;
  height: 2px;
  background-color: black;
}
.navbar-toggle {
  width: 47px;
  height: 34px;
  background-color: #eef3f8;
}
.navbar{
  background-color: white;
}
.icon-bar a{
  padding-left: 10px;
}
